div {
  background: #F9CB9C;
  height: 100%;
  width:50%;
  padding: 20px 10px 50px 30px;	
  border-top: 9px solid #9900FF;
  border-right: 5px solid #9900FF;
  border-bottom: 9px solid #9900FF;
  border-left: 5px solid #9900FF;
  margin: 0 auto;
  margin-top: 50px;
}
p {
	background-color: white;
	text-align: center;
	border: 2px dotted green;
	padding: 6px 0px ;
	margin: 8px 1px 5px 7px;
}